.calculator-frame{
    border-radius: 12px;
    height: fit-content;
    width: fit-content;
    text-align: center;
    border-style: solid;
    border-width: 10px;
    padding: 10px;
}

.display{
    display:flex;
    border-radius: 12px;
    margin: 2px;
    background-color: lightgray;
    width: 400px;
    height: 100px;
    align-items: center;
    justify-content: center;
    
}